{% extends "blog_default.html" %}

{% block content %}
<form method="post">
    <h3>new post</h3>
    <table>
        <tr>
            <td class="label">
            subject
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="subject" value="">
            </td>
        </tr>
        <tr>
          <td class="label">
            blog
          </td>
        </tr>
        <tr>
            <td>
          <textarea name="blog"></textarea>
            </td>
        </tr>
        <tr>
            <td class="error">
            {{ error_msg }}
          </td>
        </tr>
      </table>
      <input type="submit">
    </form>
{% endblock %}